* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#main-container #play-button {
    width: 150px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    color: white;
    background-color: #2d4172;
}


.box {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

.game-container {
    
    width: calc(60px * 10);
    height: calc(60px * 10);
    margin: auto;

    display: flex;
    flex-flow: row wrap;
}